<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>版本详情</title>
    <link rel="stylesheet" th:href="@{/frame/zTree/css/zTreeStyle/zTreeStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-3.3.5.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.css}" />
    <link rel="stylesheet" th:href="@{/frame/dataTables/theme/dataTables.bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/index2.css}" />
</head>
<body ms-controller="bodyController">

<div id="content" class="mycontainer">

    <!-- 标题 -->
    <div class="mycontainer-title">
        <span class="mycontainer-title-icon"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
        <span class="mycontainer-title-text">版本详情</span>
        <span class="mycontainer-title-return"><input class="btn btn-default btn-sm" type="button" value="返回" ms-click="returnBack" /></span>
    </div>

    <form id="basic_validate">
        <table class="form-table">
            <tr>
                <td width="200" align="center"><span><font class="red">*</font>版本名称:</span></td>
                <td><span><input id="versionId" readonly type="text" class="form-input" name="versionId" ms-duplex="saveParams.versionId" maxlength="50" style="width:250px"/></span></td>
            </tr>
            <tr>
                <td align="center"><span>&nbsp;中文说明:</span></td>
                <td><span><input readonly type="text" class="form-input" name="versionInfo" ms-duplex="saveParams.versionInfo" maxlength="500" style="width:700px"/></span></td>
            </tr>
        </table>
    </form>

    <div class="mycontainer-table">
        <table id="tableList" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>

    <hr class="myhr"/>

    <div>
        <a class="btn btn-primary btn-sm" id="downloadVersion" href="" rel="external nofollow" >下载</a>
    </div>

</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/frame/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-3.3.5.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/frame/dataTables/jquery.dataTables-1.10.8.min.js}"></script>
<script type="text/javascript" th:src="@{/frame/dataTables/dataTables.bootstrap-1.10.8.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validate.common.js}"></script>
<script type="text/javascript" th:src="@{/js/xycims.js}"></script>
<script type="text/javascript" th:src="@{/js/clds.layer.js}"></script>
<script type="text/javascript" th:src="@{/js/json2.js}"></script>
<script type="text/javascript" th:src="@{/js/avalon.js}"></script>
<script type="text/javascript" th:src="@{/frame/zTree/js/jquery.ztree.core-3.5.min.js}"></script>
<script type="text/javascript" th:src="@{/frame/zTree/js/jquery.ztree.excheck-3.5.min.js}"></script>
<script type="text/javascript" th:src="@{/js/administrator/versionInfoPage.js}"></script>
<script type="text/javascript">
    $(function(){
        $("#downloadVersion").attr("href", "/administrator/downloadVersion?versionId="+$("#versionId").val())
    });
</script>
</body>
</html>