<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>欢迎页</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/frame/live2d/css/live2d.css}" />
</head>
<body>
<div id="landlord">
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="hide-button">隐藏</div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript">
    var message_Path = 'http://localhost:8887/frame/live2d/';
    var home_Path = 'http://kfpt:8887/';
</script>
<script type="text/javascript" th:src="@{/frame/live2d/js/live2d.js}"></script>
<script type="text/javascript" th:src="@{/frame/live2d/js/message.js}"></script>
<script th:inline="javascript">
    loadlive2d("live2d", 'http://localhost:8887/frame/live2d/model/tia/model.json');
</script>
</body>
</html>